<div class="row" ng-init="getModules();getActions()">
    <h1 class="page-header">
        Modules
        <small>
            <button type="button" class="btn btn-success" ng-click="showNewForm=true" ng-show="!showNewForm"> Nuevo</button>
        </small>
    </h1>

    <!-- cuadro para flash -->
    <div class="box-body">
        <div class="col-lg-12" ng-show="successMsg">
            <div class="alert alert-success alert-dismissible"> Los cambios fueron realizados.</div>
        </div>

        <div class="col-lg-12" ng-show="errorMsg" >
            <div class="alert alert-danger alert-dismissible">Se ha producido un error</div>
        </div>
    </div>
    <!-- cierre cuadro para flash -->

    <!-- inicio ng-show -->
    <div class="form" ng-show="showNewForm">
        <h3> Nuevo </h3>
        <div class="col-lg-12">
            <form name="FieldForm" ng-submit="save()" novalidate  >
                <ng-form name="FieldForm">
                    <div class="col-lg-12">

                        <div class="form-group" >
                            <div class="form-group"  ng-class="{ 'has-error' : FieldForm.name.$invalid }">
                                <label> Name:</label>
                                <input type="text" class="form-control" placeholder="Nombre del metodo" name="name" ng-model="form.name" required>
                                <p class="help-block" ng-show="FieldForm.name.$invalid">Required</p>
                            </div>
                        </div>

                        <div class="form-group"  ng-class="{ 'has-error' : FieldForm.description.$invalid }">
                            <label> Description:</label>
                            <input type="text" class="form-control" placeholder="description" name="description" ng-model="form.description" required>
                            <p class="help-block" ng-show="FieldForm.description.$invalid">Required</p>
                        </div>

                    </div>

                    <div class="col-lg-12">
                        <div class="">
                            <h2>Listado de Acciones</h2>
                        </div>
                        <div class="">
                            <div ng-repeat="action in actionsList">
                                <input type="checkbox" value="{{action.id}}"
                                       ng-click="toggleSelection(action.id)"/>{{action.name}} -- {{action.description}} --- <span class="label label-primary">{{action.controller}}</span>
                            </div >
                        </div>
                    </div>
                    {{selection}}
                </ng-form>

                <!-- cierre ng-show -->

                <div class="row text-center">
                    <button type="submit" class="btn btn-primary" ng-click=""> Guardar</button>
                    <button type="button" class="btn btn-danger" ng-confirm-click="Desea cancelar la operación?" ng-click="showNewForm=false"> Cancelar</button>
                </div>

            </form>
        </div>
    </div><!-- cierra del show new form -->

    <div class="form" ng-show="showEditForm && !showNewForm">
        <h3> Editar </h3>
        <div class="row">
            <form name="formEdit" ng-submit="edit()" novalidate  >
                <ng-form name="formEdit">
                    <div class="col-lg-12">
                        <div class="form-group"  ng-class="{ 'has-error' : formEdit.name.$invalid }">
                            <label> Name:</label>
                            <input type="text" class="form-control" placeholder="name" name="name" ng-model="dataFormEdit.name" required>
                            <p class="help-block" ng-show="formEdit.name.$invalid">Required</p>
                        </div>

                        <div class="form-group"  ng-class="{ 'has-error' : formEdit.description.$invalid }">
                            <label> Description:</label>
                            <input type="text" class="form-control" placeholder="description" name="description" ng-model="dataFormEdit.description" required>
                            <p class="help-block" ng-show="formEdit.description.$invalid">Required</p>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <h2>Listado de Acciones</h2>
                        <div ng-repeat="action in actionsList">
                            <input type="checkbox" value="{{action.id}}"
                                   ng-checked="exist(action.id)"
                                   ng-click="toggleSelection(action.id)"/>{{action.name}}
                        </div>
                    </div>
                </ng-form>

                <div class="row text-center">
                    <button type="submit" class="btn btn-primary" ng-click=""> Guardar</button>
                    <button type="button" class="btn btn-danger" ng-confirm-click="Desea cancelar la Operación?" ng-click="showEditForm=false"> Cancelar</button>
                </div>
            </form>
        </div>
    </div> <!-- cierra del edit form -->
</div>
<hr>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Listado</div>
        <div class="panel-body">
            <p> El siguiente listado muestra el listado de acciones de los modulos o controladores</p>
        </div>

        <!-- Table -->
        <table class="table responsive">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Acciones</th>
                    <th>CreatedAt</th>
                    <th>UpdatedAt</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in data">
                    <td scope="row">{{row.id}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.description}}</td>
                    <td><span ng-repeat="action in row.actions">{{action.name}}<span ng-if="!$last">, </span>
                        </span>

                    </td>
                    <td>{{row.createdAt | date:'MM/dd/yyyy h:mma' }}</td>
                    <td>{{row.updatedAt | date:'MM/dd/yyyy h:mma'}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" ng-click="loadFormEdit(row.id)" ><i class="fa fa-pencil"> </i></button>
                        <button type="button" class="btn btn-danger"  ng-confirm-click="¿Desea eliminar el registro  {{row.name}}?" ng-click="deleteRow(row.id);"		  ><i class="fa fa-trash-o"> </i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <p ng-show="data.lenght==0" > No hay registros </p>
    </div>
</div>
</div>
